:host {
  display: block;
}

.frame {
  width: 300px;
  height: 300px;
  background: #FAFAFA;
  border: 1px solid silver;
  border-radius: 4px;
  padding: 10px;
}

google-map {
  display: block;
  height: 100%;
}

